<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CaptchaKeys" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <CaptchaKeys>
    <add key="6LefWSETAAAAAPjZ6R3z5BSJf72OWR6JxNKU5zhE" value="6LefWSETAAAAAMe5KrsGby-Gl3mulJgndh5Razec"/>
  </CaptchaKeys>
</configuration>