<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>

  <connectionStrings>
    <clear />
    <add name="main" connectionString="Data Source=SVR-STONER.tesfri.intra;Initial Catalog=LightStore;Persist Security Info=False;User ID=LightStore;Password=K@r@m@z0v;Connect Timeout=5;" />
  </connectionStrings>

  <system.serviceModel>

    <services>
      <service name="LightStore.Service.Operator" behaviorConfiguration="standingBehavior">
        <endpoint address="" binding="webHttpBinding" contract="LightStore.Service.IOperator" bindingConfiguration="HttpsBinding" behaviorConfiguration="MyEndPointBehavior" />
        <endpoint address="" binding="webHttpBinding" contract="LightStore.Service.IOperator" behaviorConfiguration="MyEndPointBehavior" />
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="HttpsBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="MyEndPointBehavior">
          <extendedWebHttp defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="standingBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" httpGetBindingConfiguration="HttpsBinding" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthenticationManager authenticationSchemes="None" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" httpGetBindingConfiguration="HttpsBinding" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthenticationManager authenticationSchemes="None" />
        </behavior>

      </serviceBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="extendedWebHttp" type="LightStore.ServiceConfig.ExtendedWebHttpElement, LightStore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

  </system.serviceModel>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, Accept, X-Requested-With" />
        <add name="Access-Control-Allow-Methods" value="PUT, GET, POST, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="OperatorService" stopProcessing="true">
          <match url="^Operators/(.*)$" />
          <action type="Rewrite" url="Service/Operator.svc/Operators/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false" />
    <validation validateIntegratedModeConfiguration="false" />
    <!--<handlers>
      <clear />
      <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" type="" modules="ProtocolSupportModule" scriptProcessor="" resourceType="Unspecified" requireAccess="None" allowPathInfo="false" preCondition="" responseBufferLimit="4194304" />
    </handlers>-->
  </system.webServer>
</configuration>
